# Dependency directories
node_modules/
frontend/node_modules/
backend/node_modules/

# Zip files and archives
*.zip
*.tar.gz
*.tgz

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environmental variables
.env
backend/.env
frontend/.env
